@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* header */


header{
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.nav_container{
    position: relative;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.navbar-toggler{
    position: relative;
    outline: none !important;
    border: none !important;
}

.nav-item{
    margin-left: 10px;
}

.navbar-toggler-icon i{
    color: white;
    font-size: 30px;
    left: 4px;
    position: absolute;
    cursor: pointer;
}

.navbar{
    background: black;
    padding-top: 10px;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-right: 50px;
    padding-bottom: 10px;
}

.nav-item a{
    color: white;
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item1 a{
    color: rgb(17, 127, 252);
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item a:hover{
    color: rgb(17, 127, 252);
    font-weight: 500;
}

.nav-item1 a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0 !important;
    width: 100% !important;
    transition: .2s;
    height: 2px;
}

.nav-item a:hover::before{
    width: 100%;
    left: 0;
}

.nav-item a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    transition: .2s;
    height: 2px;
    background: rgb(17, 127, 252);
}

.navbar{
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.nav_icon{
    width: 20%;
}

.nav_icon h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.navbar-brand{
    margin-left: 0px;
}

.navbar-brand:hover p::before{
    animation-play-state: paused;
}

.navbar-brand:hover p::after{
    animation-play-state: paused;
}

.nav-link img{
    width: 21px;
}

.nav-link i{
    margin-left: 5px;
}

.logo{
    width: 150px;
}

.navbar-brand b{
    color: white;
    margin: 0px;
    left: 140px;
    top: 22px;
    position: absolute;
}

.navbar-brand P{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    left: 140px;
    top: 50px;
    margin: 0px;
    letter-spacing: 3px;
    position: absolute;
}

/* language */


.nav-item5 a::before{
    display: none;
}

.nav-link1{
    padding: 0px !important;
    padding-left: 15px !important;
}

.flag{
    width: 20px !important;
}

.nav-item5{
    padding: 0px !important;
    padding-top: 7px !important;
    margin: 0px !important;
}

.botton{
    border: none !important;
    outline: none !important;
    background: none !important;
    position: relative;
}
.dropdown-item1{
    padding:0rem !important;
}

.botton{
    border: none !important;
    outline: none !important;
    background: none !important;
    position: relative;
}

.dropdown-item1:hover{
    background: none !important;
}

.dropdown-item1::before{
    display: none;
}

.botton:active{
    border: none;
    outline: none;
    background: none;
}

.flag1{
    width: 20px;
    position: absolute;
    top: 9px;
}

.dropdown-menu1{
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 1.3rem;
    margin: 0px !important;
}

.flag2{
    width: 22px;
    position: absolute;
    top: 9px;
    left: 1.8px;
}


/* language */


.burder_links{
    display: inline-flex;
}

/* main */

main{
    width: 100%;
    margin-top: 50px;
}

/* main_block2 */

.main_block2{
    width: 100%;
    margin-bottom: 70px;
}

.block2_inside{
    width: 90%;
    margin: 0 auto;
}

.block2_inside p{
    color: rgb(59, 59, 59);
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-size: 28px;
    position: relative;
    line-height: 1.7;
    font-weight: 500;
}

.pick{
    margin-bottom: 15px !important; 
}

.phone2{
    color: rgb(59, 59, 59);
}

.blue{
    color: rgb(17, 127, 252) !important;
}

.phone{
    text-decoration: underline;
}

.phone:hover{
    text-decoration: none;
}

.under{
    border-bottom: 2px dotted rgb(17, 127, 252);
}

.col{
    color: rgb(17, 127, 252);
    font-size: 27px;
}


/* footer */

footer{
    width: 100%;
    background: rgb(17, 127, 252);
    padding-top: 0px;
}

.footer_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.footer_inner1{
    width: 30%;
    padding-top: 50px;
}

.footer_inner3{
    width: 25%;
    padding-top: 50px;
}

.footer_inner2{
    width: 45%;
}   

.footer_inner1 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner1 ul li{
    margin-bottom: 45px;
    position: relative;
}

.footer_inner1 ul li::before{
    content: "";
    position: absolute;
    transition: .3s;
    left: 0%;
    width: 80%;
    height: 1px;
    background: white;
    bottom: -10px;
}

.footer_inner1 ul li a{
    color: white;
    padding-bottom: 5px;
    transition: .3s;
    font-weight: 500;
    position: relative;
}

.footer_inner1 ul li a:hover:before{
    opacity: 1;
}

.footer_inner1 ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 10px;
    background: rgb(255, 255, 255);
    height: 10px;
    transition: .3s;
    opacity: 0;
    transform: rotate(45deg);
}

.footer_inner1 ul li a:hover{
    text-decoration: none;
    padding-left: 20px;
    color: black;
    font-weight: 500;
}

.footer_inner1 ul li a i{
    margin-right: 7px;
}

.place{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

@media screen and (max-width: 650px){
    .place{
        height: 300px;
    }
}

.opening{
    margin-bottom: 20px;
    width: 80%;
    border: none;
    text-align: left;
    padding: 0px;
    padding-bottom: 7px;
    color: white;
    outline: none !important;
    background: none;
    transition: .3s;
    font-weight: 500;
    border-bottom: 1px solid white;
    position: relative;
}

.opening:hover::before{
    opacity: 1;
}

.opening::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 10px;
    background: rgb(252, 252, 252);
    height: 10px;
    transition: .3s;
    opacity: 0;
    transform: rotate(45deg);
}

.opening i{
    margin-right: 6px;
}

.opening:hover{
    padding-left: 20px;
    color: black;
    font-weight: 500;
}


/* footer_inner2 */


.footer_inner2{
    text-align: center;
    position: relative;
}

.footer_inner2 a{
    text-decoration: none;
    color: white;
}

.footer_inner2 a img{
    width: 170px;
    position: absolute;
    top: 5%;
    left: 35%;
}

.footer_inner2 a h4{
    font-weight: 600;
    margin-top: 0px;
    position: absolute;
    top: 55%;
    left: 38%;
    font-size: 29px;
}

.footer_inner2 a p{
    font-weight: 600;
    font-size: 19px;
    top: 70%;
    left: 26%;
    letter-spacing: 2px;
    position: absolute;
}

/* footer_inner3 */

.footer_inner3{
    text-align: center;
}

.footer_inner3 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner3 ul{
    list-style: none;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
}

.footer_inner3 ul li{
    margin-top: 5px;
    width: 100%;
}

.footer_inner3 ul li a{
    padding: 4px 10px;
    font-size: 55px;
    color: white;
    border-radius: 3px;
}

.footer_inner3 ul li a i{
    transition: .5s;
}

.footer_inner3 ul li a:hover i{
    transform: rotate(360deg);
    color: black;
}

/* Адаптация */

@media screen and (max-width:1266px){

    .input1{
        width: 48.7%;

    }

    .block2_inside p{
        font-size: 25px;
    }
}

@media screen and (max-width:1216px){

    .input1{
        width: 48.8%;
    }
}

@media screen and (max-width:1184px){

    .nav-item a{
        font-size: 15px;
    }
}

@media screen and (max-width:1150px){

    .nav-item{
        margin-left: 7px;
    }
}

@media screen and (max-width:1100px){

    .footer_inner2 a p{
        left: 23%;
    }
    
    .navbar{
        padding-right: 20px;
    }

    .header_lower h1{
        color: white;
        font-size: 30px;
    }
    
    .header_lower h1:first-child{
        font-size: 38px;
    }

    .footer_inner2 a h1{
        font-size: 40px;
    }

    .footer_inner1 h2{
        font-size: 26px;
    }

    .footer_inner3 h2{
        font-size: 26px;
    }

    footer{
        width: 100%;
        padding-top: 0px !important;
    }
}

@media screen and (max-width:1080px){

    .navbar{
        padding-right: 20px !important;
    }

    .navbar-brand{
        margin-left: 0px;
    }
}

@media screen and (max-width:1060px){

    .navbar{
        padding-right: 10px !important;
    }

    .navbar-brand{
        margin-left: 0px;
    }
}

@media screen and (max-width:1034px){

    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 33px;
    }
}

@media screen and (max-width:992px){

    .dropdown-menu1{
        display: none !important;
    }

    .botton{
        margin-right: 5px !important;
    }

    .nav-link1{
        padding: 0px !important;
        padding-left: 0px !important;
    }

    .nav-item5{
        padding-top: 0px !important;
    }
}

@media screen and (max-width:990px){

    .footer_inner2 a p{
        left: 21%;
    }
    
    .block2_inside p{
        font-size: 23px;
    }

    .nav-item a::before{
        display: none;
    }

    .center_bar{
        text-align: center;
    }
    
    .burder_links{
        display: flex;
        justify-content: center;
    }

    .burder_links li a {
        margin: 0px 10px;
    }

    .nav-item{
        margin-left: 0px !important;
        margin-bottom: .3px;
    }

    .nav-item1 a::before{
        display: none;
    }

    .navbar-brand{
        margin-left: 0px;
    }

    .dropdown-item{
        font-size: 18px;
        padding: 10px 15px; 
    }

    .bloksu  div::before{
        width: 15px;
        height: 15px;
        top: 15px;
        left: 10px;
    }
    
    .nav-item{
        margin-left: 28px;
        margin-bottom: .3px;
    }

    .nav-item a{
        color: white;
        font-size: 23px;
        position: relative;
        transition: .3s;
        font-weight: 500;
    }

    .nav-item1 a{
        color: rgb(17, 127, 252);
    }

    .nav-item1 a::before{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 115px !important;
        transition: .2s;
        height: 2px;
    }
    
    .nav-item a:hover::before{
        width: 155px;
        left: 0;
    }

    .burder_links{
        display: inline-flex;
    }

    .burder_links .nav-link{
        font-size: 25px;
    }

    .burder_links .nav-item{
        margin-left: 22px;
    }

    .burder_links .nav-item a:hover::before{
        width: 34px;
        left: 0;
    }
}

@media screen and (max-width:924px){

    .header_lower h1{
        color: white;
    }
    
    .header_lower h1:first-child{
        font-size: 33px;
    }

    .slide_inner h4{
        color: rgb(255, 255, 255);
        margin-top: 10px;
        font-size: 24px;
    }
    
    .slide_inner p{
        color: rgb(255, 255, 255);
        margin-top: 5px;
        font-size: 18px;
        font-weight: 300;
    }
}

@media screen and (max-width:910px){

    .dropdown-item{
        font-size: 16px;
        padding: 10px 15px; 
    }
}

@media screen and (max-width:800px){

    .footer_inner1{
        width: 35%;
    }

    .on1 div p{
        line-height: 1.5;
        font-size: 15px;
    }

    .dropdown-item{
        font-size: 15px;
        padding: 10px 15px; 
    }

    .on1{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:732px){

    footer{
        padding-top: 0px !important;
    }

    .dropdown-item{
        font-size: 12px;
        padding: 10px 15px; 
    }

    .on{
        height: 800px;
    }

    .header_lower{
        bottom: 25%;
    }

    .input1{
        width: 100%;
    }

    .input2{
        margin-left: 0% !important;
    }

    .footer_inner2{
        display: none;
    }

    .footer_inner1{
        width: 55%;
    }
    
    .footer_inner3{
        width: 30%;
    }
    
    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
}

@media screen and (max-width: 685px){

    .dropdown-item{
        font-size: 13px;
        padding: 10px 10px; 
    }
}

@media screen and (max-width: 650px){

    .block2_inside p{
        font-size: 21px;
    }
}


@media screen and (max-width:668px){
    
    .header_lower h1{
        color: white;
        font-size: 25px;
    }
    
    .header_lower h1:first-child{
        font-size: 30px;
    }
}

@media screen and (max-width:610px){

    .header_lower h1{
        font-size: 22px;
    }
    
    .header_lower h1:first-child{
        font-size: 27px;
    }

    .sub{
        font-size: 17px;
    }
}

@media screen and (max-width: 528px){

    .footer_inner3{
        width: 40%;
    }
}

@media screen and (max-width: 512px){

    .header_lower h1{
        font-size: 20px;
    }
    
    .header_lower h1:first-child{
        font-size: 23px;
    }
}

@media screen and (max-width: 500px){

    .navbar-brand b,
    .navbar-brand P{
        display: none;
    }
}

@media screen and (max-width: 484px){

    ::-webkit-input-placeholder {font-size: 16px;}

    .on1 h1{
        font-size: 32px;
        margin-bottom: 25px;
    }

    .on1 h1::before,
    .on1 h1::after
    {
        display: none;
    }
}

@media screen and (max-width: 468px){

    footer{
        padding-top: 50px !important;
    }

    .footer_inner1{
        width: 55%;
    }
    
    .footer_inner3{
        width: 40%;
    }
}

@media screen and (max-width:444px){

    .on{
        height: 1020px;
    }
}

@media screen and (max-width:436px){

    .header_lower h1{
        font-size: 18px;
    }
    
    .header_lower h1:first-child{
        font-size: 20px;
    }
}

@media screen and (max-width:420px){

    .footer_inner1 ul li{
        margin-bottom: 25px !important; 
    }
}

@media screen and (max-width:412px){

    .footer_inner1,
    .footer_inner3{
        padding-top: 10px;
    }

    .footer_inner3 ul{
        margin-left: 10px;
    }

    .opening{
        text-align: center;
        border: none;
    }

    .footer_inner1{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer_inner3{
        width: 100%;
        text-align: center;
    }

    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 30px;
    }

    .footer_inner1 ul li::before{
        display: none;
    }
}

@media screen and (max-width:388px){

    .dropdown-item{
        font-size: 8px;
        padding-left: 5px;
    }

    .destination{
        width: 100%;
        height: 350px;
        margin-bottom: 30px;
    }

    .header_lower h1{
        font-size: 16px;
    }
    
    .header_lower h1:first-child{
        font-size: 19px;
    }
    
    .register_container textarea{
        height: 250px;
    }

    .info{
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width:376px){

    footer{
        width: 100%;
        padding-top: 50px !important;
    }
}

@media screen and (max-width:340px){

    .dropdown-item{
        font-size: 8px;
        padding-left: 5px;
    }
}

@media screen and (max-width:324px){

    .begin h1{
        color: rgb(58, 58, 58);
        font-size: 18px;
    }
    
    .begin p{
        font-weight: 300;
        font-size: 13px;
        width: 90%;
        margin: 0 auto;
    }
}