@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* header */


header{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.nav_container{
    position: relative;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    z-index: 10;
}

.navbar-toggler{
    position: relative;
    outline: none !important;
    border: none !important;
}

.nav-item{
    margin-left: 10px;
}

.navbar-toggler-icon i{
    color: white;
    font-size: 30px;
    left: 4px;
    position: absolute;
    cursor: pointer;
}

.navbar{
    background: rgba(0, 0, 0, 1);
    padding-top: 10px;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-right: 50px;
}

.nav-item a{
    color: white;
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item1 a{
    color: rgb(17, 127, 252);
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item a:hover{
    color: rgb(17, 127, 252);
    font-weight: 500;
}

.nav-item1 a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0 !important;
    width: 100% !important;
    transition: .2s;
    height: 2px;
}

.nav-item a:hover::before{
    width: 100%;
    left: 0;
}

.nav-item a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    transition: .2s;
    height: 2px;
    background: rgb(17, 127, 252);
}

.nav_icon{
    width: 20%;
}

.nav_icon h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.navbar-brand{
    margin-left: 30px;
}

.navbar-brand:hover p::before{
    animation-play-state: paused;
}

.navbar-brand:hover p::after{
    animation-play-state: paused;
}

.nav-link img{
    width: 21px;
}

.nav-link i{
    margin-left: 5px;
}

.burder_links{
    display: inline-flex;
}

.navbar-brand h1{
    color: white;
    margin: 0px;
}

.navbar-brand P{
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0px;
    letter-spacing: 3px;
    position: relative;
}

.navbar-brand P::before{
    content: "";
    position: absolute;
    top: 4.5px;
    right: 20px;
    width: 30px;
    background: white;
    height: 3px;
    animation: brand2 2s linear infinite alternate;
}

.navbar-brand P::after{
    content: "";
    position: absolute;
    top: 13px;
    right: 20px;
    width: 30px;
    background: rgb(17, 127, 252);
    height: 3px;

    animation: brand1 2s linear infinite alternate;
}

@keyframes brand1{
    100%{
        transform: translate(10px , 0px);
    }
}

@keyframes brand2{
    100%{
        transform: translate(-10px , 0px);
    }
}


/* main */

main{
    width: 100%;
    margin-top: 50px;
}

/* news */

.nsh{
    width: 85%;
    margin: 0 auto;
}

.bloks{
    width: 100%;
    margin-bottom: 35px;
}
.bloks p{
    text-align: justify;
    margin: 0;
    padding-bottom: 10px;
}

.imgh{
    width: 38%;
    padding-top: 20px;
}

.imgh3{
    text-align: right;
}

.imgh2{
    width: 60%;
    padding-top: 15px;
}

.imgh4 img{
    margin-left: 44px;
}

.imgh2 h2{
    color: rgb(70, 70, 70);
}

.imgh2 p{
    line-height: 1.5;
}

.imgh3 p{
    text-align: right;
}

.imgh img{
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

.bl1{
    display: flex;
    height: 280px;
    width: 100%;
    justify-content: space-between;
}

.h11{
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}


/* footer */

footer{
    width: 100%;
    margin-top: 100px;
    background: rgb(17, 127, 252);
    padding-top: 40px;
}

.footer_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 270px;
    justify-content: space-between;
    overflow: hidden;
}

.footer_inner1{
    width: 30%;
}

.footer_inner3{
    width: 25%;
}

.footer_inner2{
    width: 45%;
}    

.footer_inner1 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner1 ul li{
    margin-bottom: 25px;
    position: relative;
}

.footer_inner1 ul li::before{
    content: "";
    position: absolute;
    transition: .3s;
    left: 0%;
    width: 80%;
    height: 1px;
    background: white;
    bottom: -10px;
}

.footer_inner1 ul li a{
    color: white;
    padding-bottom: 5px;
    transition: .3s;
    font-weight: 500;
    position: relative;
}

.footer_inner1 ul li a:hover:before{
    opacity: 1;
}

.footer_inner1 ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 10px;
    background: rgb(252, 252, 252);
    height: 10px;
    transition: .3s;
    opacity: 0;
    transform: rotate(45deg);
}

.footer_inner1 ul li a:hover{
    text-decoration: none;
    padding-left: 20px;
    color: black;
    font-weight: 500;
}

.footer_inner1 ul li a i{
    margin-right: 7px;
}

/* footer_inner1 */

.footer_inner2{
    text-align: center;
}

.footer_inner2 a{
    text-decoration: none;
    color: white;
}

.footer_inner2 a h1{
    font-size: 50px;
    margin-bottom: 0px;
}

.footer_inner2 a p:nth-child(2){
    font-size: 20px;
    position: relative;
}

.footer_inner2 a p:nth-child(2)::before{
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 10%;
    left: 45%;
    bottom: -9px;
}

.footer_inner2 a p:nth-child(3){
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    line-height: 1.8;
}

/* footer_inner3 */

.footer_inner3{
    text-align: right;
}

.footer_inner3 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner3 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner3 ul li{
    margin-bottom: 15px;
    width: 100%;
}

.footer_inner3 ul li a{
    padding: 4px 10px;
    font-size: 45px;
    color: white;
    border-radius: 3px;
}

.footer_inner3 ul li a i{
    transition: .5s;
}

.footer_inner3 ul li a:hover i{
    transform: rotate(360deg);
    color: black;
}

.footer_inner3 ul li:nth-child(1) a:nth-child(1){
    margin-right: 20px;
    padding: 4px 10px;
    padding-right: 9px;
}

.footer_inner3 ul li:nth-child(2) a:nth-child(1){
    margin-right: 18px;
    padding: 4px 10px;
    padding-left: 9px;
    font-size: 40px;
}

.footer_inner3 ul li:nth-child(2) a:nth-child(2){
    padding: 4px 10px;
    padding-right: 9px;
    font-size: 40px;
}

/* Адаптация */

@media screen and (max-width:1100px){
    
    .navbar{
        padding-right: 20px;
    }
}

@media screen and (max-width:990px){

    .nav-item5 a::before{
        width: 0px !important;
    }
    
    .nav-item{
        margin-left: 28px;
        margin-bottom: .3px;
    }

    .nav-item a{
        color: white;
        font-size: 23px;
        position: relative;
        transition: .3s;
        font-weight: 500;
    }

    .nav-item1 a{
        color: rgb(17, 127, 252);
    }

    .nav-item1 a::before{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 155px !important;
        transition: .2s;
        height: 2px;
    }
    
    .nav-item a:hover::before{
        width: 117px;
        left: 0;
    }

    .burder_links{
        display: inline-flex;
    }

    .burder_links .nav-link{
        font-size: 25px;
    }

    .burder_links .nav-item{
        margin-left: 22px;
    }

    .burder_links .nav-item a:hover::before{
        width: 34px;
        left: 0;
    }
}


@media screen and (max-width:420px){

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 30px;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 13px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .navbar-brand P::before{
        display: none;
    }

    .navbar-brand P::after{
        display: none;
    }
}