@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* header */

header{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background: url('../img/gif.gif') center / cover fixed;
}

.nav_container{
    position: relative;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    z-index: 10;
}

.navbar-toggler{
    position: relative;
    outline: none !important;
    border: none !important;
}

.nav-item{
    margin-left: 10px;
}

.navbar-toggler-icon i{
    color: white;
    font-size: 30px;
    left: 4px;
    position: absolute;
    cursor: pointer;
}

.navbar{
    background: rgba(0, 0, 0, 1);
    padding-top: 10px;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-right: 50px;
}

.nav-item a{
    color: white;
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item1 a{
    color: rgb(17, 127, 252);
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item a:hover{
    color: rgb(17, 127, 252);
    font-weight: 500;
}

.nav-item1 a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0 !important;
    width: 100% !important;
    transition: .2s;
    height: 2px;
}

.nav-item a:hover::before{
    width: 100%;
    left: 0;
}

.nav-item a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    transition: .2s;
    height: 2px;
    background: rgb(17, 127, 252);
}

.nav_icon{
    width: 20%;
}

.nav_icon h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.burder_links{
    display: inline-flex;
}

.navbar-brand{
    margin-left: 30px;
}

.navbar-brand:hover p::before{
    animation-play-state: paused;
}

.navbar-brand:hover p::after{
    animation-play-state: paused;
}

.nav-link img{
    width: 21px;
}

.nav-link i{
    margin-left: 5px;
}

.navbar-brand h1{
    color: white;
    margin: 0px;
}

.navbar-brand P{
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0px;
    letter-spacing: 3px;
    position: relative;
}

.navbar-brand P::before{
    content: "";
    position: absolute;
    top: 4.5px;
    right: 20px;
    width: 30px;
    background: white;
    height: 3px;
    animation: brand2 2s linear infinite alternate;
}

.navbar-brand P::after{
    content: "";
    position: absolute;
    top: 13px;
    right: 20px;
    width: 30px;
    background: rgb(17, 127, 252);
    height: 3px;

    animation: brand1 2s linear infinite alternate;
}

@keyframes brand1{
    100%{
        transform: translate(10px , 0px);
    }
}

@keyframes brand2{
    100%{
        transform: translate(-10px , 0px);
    }
}

/* header_lower */

.header_lower{
    position: absolute;
    bottom: 30%;
    width: 100%;
    background: rgba(0, 0, 0, 0.507);
    padding: 50px 0;
    text-align: center;
    z-index: 4;
}

.header_lower h1{
    color: white;
}

.header_lower h1:first-child{
    font-size: 40px;
}

/* main */

main{
    width: 100%;
}

.triple{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triple div{
    width: 50%;
    height: 100%;
    text-align: center;
}

.triple_inner1 p{
    line-height: 1.5;
    width: 80%;
    font-weight: 300;
    color: black;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
}

.triple_inner2 p{
    color: rgb(36, 36, 36);
    font-size: 17px;
    margin: 0px;
    letter-spacing: 3px;
    position: relative;
}

.triple_inner2 h1{
    line-height: 1.5;
    width: 80%;
    font-weight: 300;
    color: rgb(53, 53, 53);
    margin: 0 auto;
    margin-top: 60px;
    font-weight: 500;
    font-size: 45px;
}

.triple_inner2 P::after{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 45%;
    width: 10%;
    background: rgb(17, 127, 252);
    height: 3px;
}

.on{
    color: white;
    text-align: center;
    height: 100vh;
    padding-top: 40px;
    background: url('../img/about.jpg') center / cover fixed;
    position: relative;
    width: 100%;
}
.on:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.ond{
    z-index: 2;
    position: absolute;
    width: 90%;
    left: 5%;
}
.on h1{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 60px;
    position: relative;
}

.on h1::before{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 49%;
    width: 70px;
    background: rgb(17, 127, 252);
    height: 4px;
}

.on h1::after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 46%;
    width: 70px;
    background: rgb(255, 255, 255);
    height: 4px;
}

.next{
    background: rgb(17, 127, 252);
    padding: 8px 25px;
    outline: none;
    border: none;
    color: white;
    transition: .3s;
}

.next:hover{
    background: rgb(61, 61, 61);
}
.ss{
    font-size: 25px;
}
.on1{
    width: 100%;
    margin: 0 auto;
}

.on1 div p{
    line-height: 1.7;
    margin-bottom: 30px;
    color: white;
    font-weight: 300;
}

.bloks{
    padding: 50px 100px;
    overflow: hidden;
}

.bloksu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bloksu div{
    width: 48%;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
    position: relative;
}

.bloksu div:hover h1{
    margin-left: 35px;
}
.bloksu  h1{
    font-weight: 500;
    font-size: 40px;
    color: rgb(95, 187, 240);
    position: relative;
    transition: .2s;
}

.bloksu  div::before{
    content: "";
    position: absolute;
    background:rgb(95, 187, 240);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 9px;
    opacity: 0;
}

.bloksu div:hover::before{
    opacity: 1;
    transition: .4s;

    animation: circle 2s linear infinite alternate;
}

@keyframes circle{
    100%{
        transform: rotate(360deg);
    }
}

.bloksu p{
    color: rgb(66, 66, 66);
    line-height: 1.5;
}

.h11{
    font-weight: 500;
    text-align: center;
    color: rgb(63, 63, 63);
    margin-bottom: 40px;
}

/* about

.about{
    width: 100%;
    height: 100vh;
}

/* team */

.team_container{
    width: 100%;
    position: relative;
    height: 120vh;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: url('../img/team_banner.jpg') center / cover;
}

.team_container::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.slide_content{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.slide_inner{
    width: 32%;
    height: 100%;
}

.slide_inner:hover .slide_banner img{
    transform: scale(1.1);
}

.slide_banner{
    width: 100%;
    overflow: hidden;
    height: 70%;
}

.slide_banner img{
    width: 100%;
    height: 100%;
    transition: .3s;
}

.slide_lower{
    width: 100%;
    background: white;
    position: relative;
    height: 30%;
}

.slide_obs{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.slide_bg{
    position: absolute;
    z-index: 4;
    background: rgb(17, 127, 252);
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 25%, 50% 100%, 0 25%, 0 0);
}

.slide_lower .slide_obs h4{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.slide_lower .slide_obs p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.team_block{
    position: absolute;
    height: 57%;
    width: 80%;
    left: 10%;
    bottom: 14%;
}

.team_title{
    position: absolute;
    width: 30%;
    left: 35%;
    top: 10%;
    text-align: center;
}

.team_title h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: relative;
}

.team_title h1::before{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 45%;
    width: 70px;
    background: white;
    height: 4px;
}

.team_title h1::after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 40%;
    width: 70px;
    background: rgb(17, 127, 252);
    height: 4px;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* news */

.news{
    width: 100%;
    height: 600px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.new_title{
    text-align: center;
    color: rgb(73, 73, 73);
    margin-bottom: 70px;
    position: relative;
}

.new_title::before{
    content: "";
    bottom: -13px;
    left: 47%;
    position: absolute;
    background: rgb(17, 127, 252);
    height: 3px;
    width: 70px;
}

.new_inside{
    width: 95%;
    margin: 0 auto;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new_inside .new_inner{
    width: 31%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(219, 219, 219);
}

.new_banner{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.new_content{
    padding-top: 30px;
    height: 40%;
    text-align: center;
    width: 100%;
}

.new_content p{
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    line-height: 1.6;
}

.new_content a{
    color: rgb(250, 250, 250);
    background:rgb(17, 127, 252);
    padding: 9px 25px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
    transition: .3s;
}

.new_content a:hover{
    background: rgb(56, 56, 56);
}

.new_content a:hover{
    text-decoration: none;
}

.new_banner img{
    width: 100%;
    height: 100%;
}


/* register */

.register{
    width: 100%;
    height: 100vh;
    position: relative;
}

.register_image{
    position: absolute; 
    background: rgb(17, 127, 252);
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.dropdown-item{
    padding: 10px 15px; 
}

.dropdown-item:hover{ 
    background: rgb(17, 127, 252);
    color: white;
}

.register_container{
    position: absolute;
    width: 70%;
    top: 10%;
    left: 15%;
    padding: 25px;
    border-radius: 5px;
    transition: .3s;
    box-shadow: 0px 0px 15px rgb(88, 88, 88);
    z-index: 5;
}

::-webkit-input-placeholder {font-size: 19px;}

.input1{
    width: 49%;
    padding: 8px 15px;
    outline: none;
    background: none;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 3px;
    margin-bottom: 20px;
    transition: .4s
}

.input1:focus{
    border: 2px solid rgb(110, 110, 110);
}

.input2{
    margin-left: 1.5% !important;
}

.sub{
    width: 100%;
    padding: 11px 0px;
    margin-bottom: 20px;
    outline: none;
    background: none;
    font-size: 19px;
    border-radius: 3px;
    border: 2px solid rgb(206, 206, 206);
    color: grey;
    transition: .4s
}

.sub:focus{
    border: 2px solid rgb(110, 110, 110);
    outline: none;
}

.register_container textarea{
    width: 100%;
    transition: .4s;
    padding: 8px 15px;
    outline: none;
    background: none;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 3px;
    margin-bottom: 20px;
}

.register_container textarea:focus{
    border: 2px solid rgb(110, 110, 110);
}

.dropdown-menu{
    width: 100%;
}

.register_container .sub2{
    width: 100%;
    background: none;
    padding: 10px 0;
    color: white;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(206, 206, 206);
    transition: .3s;
    border-radius: 3px;
}

.register_container .sub2:hover{
    border: 2px solid rgb(0, 0, 0);
    background: #000;
}

/* footer */

footer{
    width: 100%;
    background: rgb(17, 127, 252);
    padding-top: 40px;
}

.footer_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 270px;
    justify-content: space-between;
    overflow: hidden;
}

.footer_inner1{
    width: 30%;
}

.footer_inner3{
    width: 25%;
}

.footer_inner2{
    width: 45%;
}   

.footer_inner1 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner1 ul li{
    margin-bottom: 25px;
    position: relative;
}

.footer_inner1 ul li::before{
    content: "";
    position: absolute;
    transition: .3s;
    left: 0%;
    width: 80%;
    height: 1px;
    background: white;
    bottom: -10px;
}

.footer_inner1 ul li a{
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    transition: .3s;
    font-weight: 500;
    position: relative;
}

.footer_inner1 ul li a:hover:before{
    opacity: 1;
}

.footer_inner1 ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 10px;
    background: rgb(252, 252, 252);
    height: 10px;
    transition: .3s;
    opacity: 0;
    transform: rotate(45deg);
    z-index: 10;
}

.footer_inner1 ul li a:hover{
    text-decoration: none;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.footer_inner1 ul li a i{
    margin-right: 7px;
}

/* footer_inner1 */

.footer_inner2{
    text-align: center;
}

.footer_inner2 a{
    text-decoration: none;
    color: white;
}

.footer_inner2 a h1{
    font-size: 50px;
    margin-bottom: 0px;
}

.footer_inner2 a p:nth-child(2){
    font-size: 20px;
    position: relative;
}

.footer_inner2 a p:nth-child(2)::before{
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 10%;
    left: 45%;
    bottom: -9px;
}

.footer_inner2 a p:nth-child(3){
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    line-height: 1.8;
}

/* footer_inner3 */

.footer_inner3{
    text-align: right;
}

.footer_inner3 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner3 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner3 ul li{
    margin-bottom: 15px;
    width: 100%;
}

.footer_inner3 ul li a{
    padding: 4px 10px;
    font-size: 35px;
    color: white;
    border-radius: 3px;
}

.footer_inner3 ul li a i{
    transition: .5s;
}

.footer_inner3 ul li a:hover i{
    transform: rotate(360deg);
    color: black;
}

.footer_inner3 ul li:nth-child(1) a:nth-child(1){
    margin-right: 20px;
    padding: 4px 10px;
    padding-right: 9px;
}

.footer_inner3 ul li:nth-child(2) a:nth-child(1){
    margin-right: 18px;
    padding: 4px 10px;
    padding-left: 9px;
    font-size: 31px;
}

.footer_inner3 ul li:nth-child(2) a:nth-child(2){
    padding: 4px 10px;
    padding-right: 9px;
    font-size: 31px;
}


/* Адаптация */

@media screen and (max-width:1326px){

    .on{
        height: 130vh;
    }
    
    .register{
        width: 100%;
        height: 135vh;
        position: relative;
    }

    header{
        height: 120vh;
    }
    
    .team_container{
        height: 140vh;
    }
}

@media screen and (max-width:1266px){

    .on{
        height: 135vh;
    }
    

    .input1{
        width: 48.7%;

    }

    .new_content p{
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 1.6;
    }
}

@media screen and (max-width:1216px){

    .input1{
        width: 48.8%;
    }

    .new_content p{
        font-weight: 300;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 1.6;
    }
}

@media screen and (max-width:1184px){

    .new_content p{
        font-weight: 300;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 1.6;
    }

    .nav-item a{
        font-size: 15px;
    }

    .on1 div p{
        line-height: 1.5;
    }
}

@media screen and (max-width:1150px){

    .nav-item{
        margin-left: 7px;
    }
}

@media screen and (max-width:1124px){

    .new_content p{
        font-weight: 300;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.4;
    }

    .new_content{
        padding-top: 20px;
    }

    .news{
        height: 500px;
    }

    .team_container{
        height: 115vh;
    }

}

@media screen and (max-width:1100px){
    
    .navbar{
        padding-right: 20px;
    }

    .header_lower h1{
        color: white;
        font-size: 30px;
    }
    
    .header_lower h1:first-child{
        font-size: 38px;
    }

    .bloksu  h1{
        font-size: 35px;
    }

    .bloksu  div::before{
        width: 15px;
        height: 15px;
        top: 25px;
        left: 10px;
    }

    .footer_inner2 a h1{
        font-size: 40px;
    }
    
    .footer_inner2 a p:nth-child(2){
        font-size: 17px;
    }
    
    .footer_inner2 a p:nth-child(3){
        font-size: 15px;
        margin-top: 30px;
        line-height: 1.5;
    }

    .footer_inner1 h2{
        font-size: 26px;
    }

    .footer_inner3 h2{
        font-size: 26px;
    }

    .register{
        width: 100%;
        height: 100vh;
    }

    .input1{
        padding: 6px 15px;
        margin-bottom: 20px;
    }

    .register_container{
        top: 2%;
    }

    .sub{
        width: 100%;
        padding: 6px 0px;
        margin-bottom: 20px;
        font-size: 19px;
    }

    .register_container textarea{
        width: 100%;
        transition: .4s;
        padding: 8px 15px;
        height: 200px;
        margin-bottom: 20px;
    }
    
    footer{
        width: 100%;
        padding-top: 100px !important;
    }

    .bloks{
        padding: 50px 70px;
    }
}

@media screen and (max-width:1080px){

    .navbar{
        padding-right: 20px !important;
    }

    .navbar-brand{
        margin-left: 20px;
    }
    
}

@media screen and (max-width:1060px){

    .navbar{
        padding-right: 10px !important;
    }

    .navbar-brand{
        margin-left: 10px;
    }
}

@media screen and (max-width:1034px){

    .team_title{
        position: absolute;
        width: 30%;
        left: 35%;
        top: 10%;
        text-align: center;
    }
    
    .team_title h1{
        font-size: 35px;
    }

    .team_title h1::before{
        bottom: -23px;
        left: 45%;
        width: 50px;
        height: 4px;
    }
    
    .team_title h1::after{
        bottom: -13px;
        left: 40%;
        width: 50px;
        height: 4px;
    }
    
    .slide_inner h4{
        margin-top: 10px;
        font-size: 18px;
    }
    
    .slide_inner p{
        margin-top: 5px;
        font-size: 14px;
    }

    .new_inside .new_inner{
        width: 32%;
    }

    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        height: 230px;
        justify-content: space-between;
        overflow: hidden;
    }

    .bloksu div p{
        font-size: 15px;
    }

    .on1 h1{
        font-size: 38px;
    }

    .h11{
        font-size: 38px;
    }

    .team_container{
        height: 120vh;
    }

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 33px;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 15px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .navbar-brand P::before,
    .navbar-brand P::after{
        display: none;
    }
}

@media screen and (max-width:1000px){
    
    .on1 div p{
        line-height: 1.4;
    }

    .news{
        height: 530px;
    }
}

@media screen and (max-width:990px){

    .on{
        height: 135vh;
    }
    

    .new_banner img{
        width: 100%;
        height: 100%;
    }
    
    .new_inside{
        width: 80%;
        margin: 0 auto;
        height: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .new_banner{
        height: 100% !important;
        width: 100%;
        overflow: hidden;
    }
    
    .new_content{
        padding-top: 0px;
        height: 100%;
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .news{
        height: 1000px;
    }

    .new_inside .new_inner{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgb(219, 219, 219);
    }

    .navbar-brand{
        margin-left: 27px;
    }

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 35px;
    }

    .new_content p{
        font-weight: 500;
        width: 90%;
        color: rgb(73, 73, 73);
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.4;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 16px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .bloksu div{
        width: 48%;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 25px;
    }

    .dropdown-item{
        font-size: 15px;
        padding: 10px 15px; 
    }

    .bloksu  div::before{
        width: 15px;
        height: 15px;
        top: 15px;
        left: 10px;
    }

    .nav-item5 a::before{
        width: 0px !important;
    }
    
    .nav-item{
        margin-left: 28px;
        margin-bottom: .3px;
    }

    .nav-item a{
        color: white;
        font-size: 23px;
        position: relative;
        transition: .3s;
        font-weight: 500;
    }

    .nav-item1 a{
        color: rgb(17, 127, 252);
    }

    .nav-item1 a::before{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 95px !important;
        transition: .2s;
        height: 2px;
    }
    
    .nav-item a:hover::before{
        width: 155px;
        left: 0;
    }

    .burder_links{
        display: inline-flex;
    }

    .burder_links .nav-link{
        font-size: 25px;
    }

    .burder_links .nav-item{
        margin-left: 22px;
    }

    .burder_links .nav-item a:hover::before{
        width: 34px;
        left: 0;
    }
}

@media screen and (max-width:924px){

    .on{
        height: 140vh;
    }

    .header_lower h1{
        color: white;
    }
    
    .header_lower h1:first-child{
        font-size: 33px;
    }

    .slide_inner h4{
        color: rgb(255, 255, 255);
        margin-top: 10px;
        font-size: 18px;
    }
    
    .slide_inner p{
        color: rgb(255, 255, 255);
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
    }

    .footer_inner2 a p:nth-child(3){
        font-size: 13px;
        margin-top: 20px;
        line-height: 1.5;
    }
}

@media screen and (max-width:910px){

    .team_title{
        position: absolute;
        width: 50%;
        left: 25%;
        top: 10%;
        text-align: center;
    }
    
    .team_title h1{
        font-size: 34px;
    }
    
    .slide_inner h4{
        margin-top: 10px;
        font-size: 15px;
    }
    
    .slide_inner p{
        margin-top: 5px;
        font-size: 14px;
    }

    .triple_inner1 p{
        line-height: 1.5;
        width: 90%;
        margin: 0 auto;
        margin-top: 70px;
        font-size: 14px;
    }
    
    .triple_inner2 p{
        font-size: 14px;
        margin: 0px;
    }
    
    .triple_inner2 h1{
        line-height: 1.5;
        width: 80%;
        margin: 0 auto;
        margin-top: 60px;
        font-size: 40px;
    }

    .new_content p{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 1.4;
    }

    .dropdown-item{
        font-size: 14px;
        padding: 10px 15px; 
    }

    .bloksu  h1{
        font-size: 31px;
    }

    .bloksu  div::before{
        width: 15px;
        height: 15px;
        top: 12px;
        left: 10px;
    }

    .bloksu div{
        width: 750px;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 50px;
    }
}


@media screen and (max-width:864px){

    .on{
        height: 150vh;
    }
}

@media screen and (max-width:830px){

    .slide_content{
        width: 95%;
        height: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .team_block{
        position: absolute;
        height: 60%;
        width: 80%;
        left: 10%;
        bottom: 13%;
    }

    .hide{
        display: none;
    }

    .slide_inner{
        width:48%;
        height: 100%;
    }
    
    .slide_lower .slide_obs h4{
        margin-top: 10px;
        font-size: 20px;
    }
    
    .slide_lower .slide_obs p{
        margin-top: 10px;
    }
}


@media screen and (max-width:800px){

    .on1 div p{
        line-height: 1.4;
        font-size: 15px;
    }

    .dropdown-item{
        font-size: 13px;
        padding: 10px 15px; 
    }

    .on1{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:732px){

    .on{
        height: 155vh;
    }

    .input1{
        width: 100%;
    }

    .input2{
        margin-left: 0% !important;
    }

    .triple div{
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .triple_inner1{
        order: 2;
        padding-top: 0px;
        margin-bottom: 30px;
    }
    
    .triple_inner1 p{
        margin-top: 50px;
    }

    .triple_inner2{
        order: 1;
    }

    .triple_inner2 h1{
        margin-top: 20px;
    }

    .footer_inner2{
        display: none;
    }

    .footer_inner1{
        width: 45%;
    }
    
    .footer_inner3{
        width: 30%;
    }
    
    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        height: 230px;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
}

@media screen and (max-width:668px){

    .on1 div p{
        line-height: 1.4;
        margin-bottom: 30px;
        color: white;
        font-weight: 300;
        font-size: 14px;
    }

    .header_lower h1{
        color: white;
        font-size: 25px;
    }
    
    .header_lower h1:first-child{
        font-size: 30px;
    }

    header{
        height: 100vh;
    }
}

@media screen and (max-width: 623px){

    .dropdown-item{
        font-size: 12px;
        padding: 10px 15px; 
    }
}

@media screen and (max-width:610px){

    .news{
        width: 100%;
        margin-bottom:20px;
    }

    .header_lower h1{
        font-size: 22px;
    }
    
    .header_lower h1:first-child{
        font-size: 27px;
    }

    .new_inside{
        width: 90%;
        margin: 0 auto;
        height: 85%;
    }

    .sub{
        font-size: 17px;
    }
}

@media screen and (max-width:610px){

    .slide_content{
        width: 100%;
        height: 90%;
        margin: 0 auto;
    }

    .on{
        height: 160vh;
    }
}

@media screen and (max-width: 584px){

    .dropdown-item{
        font-size: 11px;
        padding: 10px 15px; 
    }

    .on{
        height: 165vh;
    }
}

@media screen and (max-width: 544px){

    .dropdown-item{
        font-size: 10px;
        padding: 10px 15px; 
    }

    .bloks{
        padding: 50px 40px;
    }
}

@media screen and (max-width: 528px){

    .team_title h1{
        font-size: 30px;
    }

    .h11{
        font-size: 32px;
    }

    .bloksu  h1{
        font-size: 28px;
    }

    .bloksu  div::before{
        width: 13px;
        height: 13px;
        top: 12px;
        left: 14px;
    }
    .hide1{
        display: none;
    }

    .slide_inner{
        width: 100%;
        height: 100%;
    }

    .team_block{
        position: absolute;
        height: 60%;
        width: 60%;
        left: 20%;
        bottom: 13%;
    }

    .news{
        height: 1000px;
    }

    .new_inside{
        width: 90%;
        margin: 0 auto;
        height: 80%;
    }

    .new_content a{
        padding: 6px 15px;
        font-size: 13px;
    }
}

@media screen and (max-width: 512px){

    .new_title{
        margin-bottom: 50px;
        font-size: 32px;
    }

    .new_title::before{
        display: none;
    }

    .new_content p{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.4;
    }

    .on1 div p{
        line-height: 1.4;
        margin-bottom: 30px;
        color: white;
        font-weight: 300;
        font-size: 13px;
    }

    .header_lower h1{
        font-size: 20px;
    }
    
    .header_lower h1:first-child{
        font-size: 23px;
    }
}

@media screen and (max-width: 484px){

    .news{
        height: 850px;
    }

    .new_inside{
        width: 90%;
        margin: 0 auto;
        height: 90%;
    }

    ::-webkit-input-placeholder {font-size: 16px;}

    .on1 h1{
        font-size: 32px;
        margin-bottom: 25px;
    }

    .on1 h1::before,
    .on1 h1::after
    {
        display: none;
    }

    .register_container{
        width: 80%;
        top: 10%;
        left: 10%;
    }

    .register{
        height: 110vh;
    }
}

@media screen and (max-width: 468px){

    .team_title{
        position: absolute;
        width: 70%;
        left: 15%;
        top: 10%;
        text-align: center;
    }

    .team_title h1{
        font-size: 28px;
    }

    .footer_inner1{
        width: 45%;
    }
    
    .footer_inner3{
        width: 40%;
    }
}

@media screen and (max-width:436px){

    .on{
        height: 175vh;
    }

    .header_lower h1{
        font-size: 18px;
    }
    
    .header_lower h1:first-child{
        font-size: 20px;
    }
}

@media screen and (max-width:420px){

    .on{
        height: 180vh;
    }

    .new_content p{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 1.3;
    }

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 30px;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 13px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .navbar-brand P::before{
        display: none;
    }

    .navbar-brand P::after{
        display: none;
    }
}

@media screen and (max-width:412px){

    .footer_inner1{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .footer_inner3{
        width: 100%;
        text-align: center;
    }

    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        height: 430px;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 30px;
    }

    .footer_inner1 ul li::before{
        display: none;
    }
}

@media screen and (max-width:388px){

    .on{
        height: 190vh;
    }

    .header_lower h1{
        font-size: 16px;
    }
    
    .header_lower h1:first-child{
        font-size: 18px;
    }
}
