@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* header */


header{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.nav_container{
    position: relative;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    z-index: 10;
}

.navbar-toggler{
    position: relative;
    outline: none !important;
    border: none !important;
}

.nav-item{
    margin-left: 10px;
}

.navbar-toggler-icon i{
    color: white;
    font-size: 30px;
    left: 4px;
    position: absolute;
    cursor: pointer;
}

.navbar{
    background: rgba(0, 0, 0, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-right: 50px;
}

.nav-item a{
    color: white;
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item1 a{
    color: rgb(17, 127, 252);
    font-size: 16px;
    position: relative;
    transition: .3s;
    font-weight: 500;
}

.nav-item a:hover{
    color: rgb(17, 127, 252);
    font-weight: 500;
}

.nav-item1 a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0 !important;
    width: 100% !important;
    transition: .2s;
    height: 2px;
}

.nav-item a:hover::before{
    width: 100%;
    left: 0;
}

.nav-item a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    transition: .2s;
    height: 2px;
    background: rgb(17, 127, 252);
}

.nav_icon{
    width: 20%;
}

.nav_icon h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.navbar-brand{
    margin-left: 30px;
}

.navbar-brand:hover p::before{
    animation-play-state: paused;
}

.navbar-brand:hover p::after{
    animation-play-state: paused;
}

/* language */

.nav-item5 a::before{
    display: none;
}

.nav-link1{
    padding: 0px !important;
    padding-left: 15px !important;
}

.flag{
    width: 22px !important;
}

.nav-item5{
    padding: 0px !important;
    padding-top: 8px !important;
    margin: 0px !important;
}

.dropdown-item1{
    padding:0rem !important;
}

.botton{
    border: none !important;
    outline: none !important;
    background: none !important;
    position: relative;
}

.dropdown-item1:hover{
    background: none !important;
}

.dropdown-item1::before{
    display: none;
}

.botton:active{
    border: none;
    outline: none;
    background: none;
}

.flag1{
    width: 20px;
    position: absolute;
    top: 9px;
}

.dropdown-menu1{
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 1.3rem;
    margin: 0px !important;
}

.flag2{
    width: 22px;
    position: absolute;
    top: 9px;
    left: 1.8px;
}

/* language */

.nav-link img{
    width: 21px;
}

.nav-link i{
    margin-left: 5px;
}

.burder_links{
    display: inline-flex;
}

.navbar-brand h1{
    color: white;
    margin: 0px;
}

.navbar-brand P{
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0px;
    letter-spacing: 3px;
    position: relative;
}

.navbar-brand P::before{
    content: "";
    position: absolute;
    top: 4.5px;
    right: 20px;
    width: 30px;
    background: white;
    height: 3px;
    animation: brand2 2s linear infinite alternate;
}

.navbar-brand P::after{
    content: "";
    position: absolute;
    top: 13px;
    right: 20px;
    width: 30px;
    background: rgb(17, 127, 252);
    height: 3px;

    animation: brand1 2s linear infinite alternate;
}

@keyframes brand1{
    100%{
        transform: translate(10px , 0px);
    }
}

@keyframes brand2{
    100%{
        transform: translate(-10px , 0px);
    }
}


/* main */

main{
    width: 100%;
    margin: 50px 0px;
    margin-bottom: 80px;
}

.main_block1{
    width: 90%;
    margin: 0 auto;
}

.block1_title{
    width: 80%;
    margin: 0 auto;
}

.block1_title h3{
    text-align: center;
    color: rgb(65, 65, 65);
    margin-bottom: 30px;
    line-height: 1.5;
}

.block1_inside{
    width: 100%;
}

.block1_inside p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(59, 59, 59);
}

.pick{
    margin-bottom: 15px !important; 
}

.phone2{
    color: rgb(59, 59, 59);
}

.blue{
    color: rgb(17, 127, 252) !important;
}

.phone{
    text-decoration: underline;
}

.phone:hover{
    text-decoration: none;
}

.under{
    border-bottom: 2px dotted rgb(17, 127, 252);
}

.col{
    color: rgb(17, 127, 252);
    font-size: 25px;
    padding: 0px;
    padding-right: 5px;
}

.block_lower{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.block_lower h3{
    color: rgb(65, 65, 65);
    font-size: 27px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 1.5;
    position: relative;
}

.block_lower h3::before{
    content: "";
    left: 20%;
    background: rgb(17, 127, 252);
    height: 2px;
    width: 60%;
    bottom: -10px;
    position: absolute;
}

.block_lower p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(59, 59, 59);
}

/* footer */

footer{
    width: 100%;
    margin-top: 50px;
    background: rgb(17, 127, 252);
    padding-top: 40px;
}

.footer_container{
    width: 90%;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.place{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

@media screen and (max-width: 650px){
    .place{
        height: 300px;
    }
}

.opening{
    margin-bottom: 20px;
    width: 80%;
    border: none;
    text-align: left;
    padding: 0px;
    padding-bottom: 7px;
    color: white;
    outline: none !important;
    background: none;
    transition: .3s;
    border-bottom: 1px solid white;
    position: relative;
}

.opening:hover::before{
    opacity: 1;
}

.opening::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 10px;
    background: rgb(252, 252, 252);
    height: 10px;
    transition: .3s;
    opacity: 0;
    transform: rotate(45deg);
}

.opening i{
    margin-right: 6px;
}

.opening:hover{
    padding-left: 20px;
    color: black;
    font-weight: 500;
}

.footer_inner1{
    width: 30%;
}

.footer_inner2{
    width: 45%;
}    

.footer_inner1 h2{
    color: white;
    margin-bottom: 20px;
}

.footer_inner1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner1 ul li{
    margin-bottom: 25px;
    position: relative;
}

.footer_inner1 ul li::before{
    content: "";
    position: absolute;
    transition: .3s;
    left: 0%;
    width: 80%;
    height: 1px;
    background: white;
    bottom: -10px;
}

.footer_inner1 ul li a{
    color: white;
    padding-bottom: 5px;
    transition: .3s;
    font-weight: 500;
    position: relative;
}

.footer_inner1 ul li a:hover:before{
    opacity: 1;
}

.footer_inner1 ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 10px;
    background: rgb(252, 252, 252);
    height: 10px;
    transition: .3s;
    opacity: 0;
    transform: rotate(45deg);
}

.footer_inner1 ul li a:hover{
    text-decoration: none;
    padding-left: 20px;
    color: black;
    font-weight: 500;
}

.footer_inner1 ul li a i{
    margin-right: 7px;
}

/* footer_inner1 */

.footer_inner2{
    text-align: center;
    padding-top: 50px;
}

.footer_inner2 a{
    text-decoration: none;
    color: white;
}

.footer_inner2 a h1{
    font-size: 50px;
    margin-bottom: 0px;
}

.footer_inner2 a p:nth-child(2){
    font-size: 20px;
    position: relative;
}

.footer_inner2 a p:nth-child(2)::before{
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 10%;
    left: 45%;
    bottom: -9px;
}

.footer_inner2 a p:nth-child(3){
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    line-height: 1.8;
}

/* footer_inner3 */

.footer_inner3{
    padding-left: 50px;
    text-align: center;
    width: 25%;
}

.footer_inner3 h2{
    color: white;
    margin-bottom: 20px;
    font-size: 28px;
}

.footer_inner3 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_inner3 ul li{
    margin-bottom: 15px;
    width: 100%;
}

.footer_inner3 ul li a{
    padding: 4px 10px;
    font-size: 45px;
    color: white;
    border-radius: 3px;
}

.footer_inner3 ul li a i{
    transition: .5s;
}

.footer_inner3 ul li a:hover i{
    transform: rotate(360deg);
    color: black;
}

.footer_inner3 ul li:nth-child(1) a:nth-child(1){
    margin-right: 20px;
    padding: 4px 10px;
    padding-right: 9px;
}

.footer_inner3 ul li:nth-child(2) a:nth-child(1){
    margin-right: 18px;
    padding: 4px 10px;
    padding-left: 9px;
    font-size: 40px;
}

.footer_inner3 ul li:nth-child(2) a:nth-child(2){
    padding: 4px 10px;
    padding-right: 9px;
    font-size: 40px;
}

/* Адаптация */


@media screen and (max-width:1100px){
    
    .navbar{
        padding-right: 20px;
    }
}

@media screen and (max-width:990px){

    .nav-item{
        margin-left: 28px;
        margin-bottom: .3px;
    }

    .nav-item a{
        color: white;
        font-size: 23px;
        position: relative;
        transition: .3s;
        font-weight: 500;
    }

    .nav-item1 a{
        color: rgb(17, 127, 252);
    }

    .nav-item1 a::before{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 155px !important;
        transition: .2s;
        height: 2px;
    }
    
    .nav-item a:hover::before{
        width: 117px;
        left: 0;
    }

    .burder_links{
        display: inline-flex;
    }

    .burder_links .nav-link{
        font-size: 25px;
    }

    .burder_links .nav-item{
        margin-left: 22px;
    }

    .burder_links .nav-item a:hover::before{
        width: 34px;
        left: 0;
    }
}


@media screen and (max-width:420px){

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 30px;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 13px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .navbar-brand P::before{
        display: none;
    }

    .navbar-brand P::after{
        display: none;
    }
}

@media screen and (max-width:1266px){

    .input1{
        width: 48.7%;

    }
}

@media screen and (max-width:1216px){

    .input1{
        width: 48.8%;
    }
}

@media screen and (max-width:1184px){

    .nav-item a{
        font-size: 15px;
    }

    .on1 div p{
        line-height: 1.5;
    }
}

@media screen and (max-width:1150px){

    .nav-item{
        margin-left: 7px;
    }
}


@media screen and (max-width:1100px){
    
    .navbar{
        padding-right: 20px;
    }

    .header_lower h1{
        color: white;
        font-size: 30px;
    }
    
    .header_lower h1:first-child{
        font-size: 38px;
    }

    .footer_inner2 a h1{
        font-size: 40px;
    }
    
    .footer_inner2 a p:nth-child(2){
        font-size: 17px;
    }
    
    .footer_inner2 a p:nth-child(3){
        font-size: 15px;
        margin-top: 30px;
        line-height: 1.5;
    }

    .footer_inner1 h2{
        font-size: 26px;
    }

    .footer_inner3 h2{
        font-size: 26px;
    }

    .input1{
        padding: 6px 15px;
        margin-bottom: 20px;
    }

    .sub{
        width: 100%;
        padding: 6px 0px;
        margin-bottom: 20px;
        font-size: 19px;
    }
    
    footer{
        width: 100%;
        padding-top: 50px !important;
    }
}

@media screen and (max-width:1080px){

    .navbar{
        padding-right: 20px !important;
    }

    .navbar-brand{
        margin-left: 20px;
    }
}

@media screen and (max-width:1060px){

    .navbar{
        padding-right: 10px !important;
    }

    .navbar-brand{
        margin-left: 10px;
    }
}

@media screen and (max-width:1034px){

    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 33px;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 15px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .navbar-brand P::before,
    .navbar-brand P::after{
        display: none;
    }
}

@media screen and (max-width:992px){

    .nav-link1{
        padding: 0px !important;
        padding-left: 0px !important;
    }

    .nav-item5{
        padding-top: 0px !important;
    }

    .flag{
        width: 26px !important;
    }

    .dropdown-menu1{
        display: none !important;
    }

    .botton{
        margin-right: 5px !important;
    }
}

@media screen and (max-width:990px){

    .footer_inner3{
        width: 30%;
    }

    .nav-item a::before{
        display: none;
    }

    .center_bar{
        text-align: center;
    }
    
    .burder_links{
        display: flex;
        justify-content: center;
    }

    .burder_links li a {
        margin: 0px 10px;
    }

    .nav-item{
        margin-left: 0px !important;
        margin-bottom: .3px;
    }
    
    .navbar-brand{
        margin-left: 27px;
    }

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 35px;
    }

    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 16px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .dropdown-item{
        font-size: 15px;
        padding: 10px 15px; 
    }

    .nav-item{
        margin-left: 28px;
        margin-bottom: .3px;
    }

    .nav-item a{
        color: white;
        font-size: 23px;
        position: relative;
        transition: .3s;
        font-weight: 500;
    }

    .nav-item1 a{
        color: rgb(17, 127, 252);
    }

    .nav-item a:hover::before{
        width: 155px;
        left: 0;
    }

    .burder_links{
        display: inline-flex;
    }

    .burder_links .nav-link{
        font-size: 25px;
    }

    .burder_links .nav-item{
        margin-left: 22px;
    }

    .burder_links .nav-item a:hover::before{
        width: 34px;
        left: 0;
    }
}

@media screen and (max-width:924px){

    .header_lower h1{
        color: white;
    }
    
    .header_lower h1:first-child{
        font-size: 33px;
    }

    .footer_inner2 a p:nth-child(3){
        font-size: 13px;
        margin-top: 20px;
        line-height: 1.5;
    }
}

@media screen and (max-width:910px){

    .dropdown-item{
        font-size: 14px;
        padding: 10px 15px; 
    }
}

@media screen and (max-width:850px){

    .footer_inner3{
        width: 30%;
        padding-left: 0px;
    }
}

@media screen and (max-width:830px){

    .hide{
        display: none;
    }
}

@media screen and (max-width:800px){

    .dropdown-item{
        font-size: 13px;
        padding: 10px 15px; 
    }

    .footer_inner1{
        width: 35%;
    }

    .block1_title{
        width: 90%;
    }
    
    .block1_title h3{
        margin-bottom: 28px;
    }

    .block_lower h3{
        font-size: 27px;
        width: 70%;
    }
}

@media screen and (max-width:740px){

    .input1{
        width: 100%;
    }

    .input2{
        margin-left: 0% !important;
    }

    .footer_inner2{
        display: none;
    }

    .footer_inner1{
        width: 55%;
    }
    
    .footer_inner3{
        width: 30%;
    }
    
    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
}

@media screen and (max-width:668px){
    
    .header_lower h1{
        color: white;
        font-size: 25px;
    }
    
    .header_lower h1:first-child{
        font-size: 30px;
    }

    .block1_title{
        width: 100%;
    }
    
    .block1_title h3{
        margin-bottom: 28px;
        font-size: 28px;
    }

    .block_lower h3{
        font-size: 25px;
        width: 80%;
    }
}

@media screen and (max-width: 623px){

    .dropdown-item{
        font-size: 12px;
        padding: 10px 15px; 
    }
}

@media screen and (max-width:610px){

    .header_lower h1{
        font-size: 22px;
    }
    
    .header_lower h1:first-child{
        font-size: 27px;
    }

    .sub{
        font-size: 17px;
    }
}

@media screen and (max-width: 584px){

    .dropdown-item{
        font-size: 11px;
        padding: 10px 15px; 
    }
}

@media screen and (max-width: 544px){

    .dropdown-item{
        font-size: 10px;
        padding: 10px 15px; 
    }
}

@media screen and (max-width: 528px){

    .footer_inner3{
        width: 45%;
    }

    .h11{
        font-size: 32px;
    }

    .hide1{
        display: none;
    }

    .block1_title h3{
        margin-bottom: 24px;
        font-size: 25px;
    }

    .block_lower p{
        font-size: 20px;
    }

    .block_lower h3{
        font-size: 24px;
        width: 90%;
    }

    .block1_inside p{
        font-size: 20px;
    }
    
    .col{
        font-size: 22px;
    }

    footer{
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 512px){

    .header_lower h1{
        font-size: 20px;
    }
    
    .header_lower h1:first-child{
        font-size: 23px;
    }
}

@media screen and (max-width: 468px){
    
    .footer_inner3 h2{
        font-size: 24px;
    }

    footer{
        padding-top: 50px !important;
    }

    .bl1{
        margin-bottom: 60px;
    }

    .footer_inner1{
        width: 55%;
    }
    
    .footer_inner3{
        width: 40%;
    }
}

@media screen and (max-width:436px){

    .on{
        height: 175vh;
    }

    .header_lower h1{
        font-size: 18px;
    }
    
    .header_lower h1:first-child{
        font-size: 20px;
    }
}

@media screen and (max-width:420px){

    .navbar-brand h1{
        color: white;
        margin: 0px;
        font-size: 30px;
    }
    
    .navbar-brand P{
        color: rgb(255, 255, 255);
        font-size: 13px;
        margin: 0px;
        letter-spacing: 3px;
        position: relative;
    }

    .navbar-brand P::before{
        display: none;
    }

    .navbar-brand P::after{
        display: none;
    }
}

@media screen and (max-width:412px){

    .footer_inner3 h2{
        font-size: 27px;
    }

    .block1_title h3{
        margin-bottom: 24px;
        font-size: 23px;
        width: 100%;
    }

    .block_lower p{
        font-size: 20px;
    }

    .block_lower h3{
        font-size: 22px;
        width: 100%;
    }

    .block1_inside p{
        font-size: 19px;
    }
    
    .col{
        font-size: 21px;
    }

    .opening{
        text-align: center;
        border: none;
    }

    .footer_inner1{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer_inner3{
        width: 100%;
        text-align: center;
    }

    .footer_container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 30px;
    }

    .footer_inner1 ul li::before{
        display: none;
    }
}

@media screen and (max-width:388px){

    .on{
        height: 190vh;
    }

    .header_lower h1{
        font-size: 16px;
    }
    
    .header_lower h1:first-child{
        font-size: 18px;
    }
}

@media screen and (max-width:324px){

    .navbar-brand h1{
        margin: 0px;
        font-size: 27px;
    }
    
    .navbar-brand P{
        font-size: 13px;
        margin: 0px;
        letter-spacing: 2px;
    }
}
